@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700;800&display=swap');

* {
    font-family: Lato;
    /* outline: 1px solid red; */
}

body {
    background: #f9f9f9;
    /* color: #000; */
}

[type="date"] {
    /* height: 0; */
    /* background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ; */
}

::-webkit-calendar-picker-indicator { 
    /* display: none;  */
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin: 0;
    padding: 0;
    
}
  
  

/* * *  Some common custom helper classes * * */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1;
    font-weight: 600;
    color: #000;
}

figure {
    margin: 0;
}

p {
    margin: 2px 0;
    line-height: 1.4;
    color: #000;
}

/* 84px */
h1.xx-lg-heading {
    /* font-size: 5.25rem; */

    /* 30% reduced size 58.8px */
    font-size: 3.675rem;
}

/* 60px */
h1.x-lg-heading {
    font-size: 3.75rem;
}

/* 48px */
h1 {
    font-size: 3rem;
}

/* 42px */
h2 {
    font-size: 2.625rem;

     /* 30% reduced size 29.4px */
    font-size: 1.8375rem;
}

/* 36px */
h3 {
    font-size: 2.25rem;
}

/* 30px */
h4 {
    font-size: 1.875rem;
}

/* 28px */
h5 {
    font-size: 1.75rem;
}

/* 20px */
h6.md {
    font-size: 1.25rem;
}

/* 24px */
h6 {
    /* font-size: 1.5rem; */

    /* reduced 30% size - 16.8px */
    font-size: 1.05rem;
}

/* 17.6px */
h6.sm {
    font-size: 1.1rem;
}
/* 26 */
p.x-lg-para {
    font-size: 1.625rem;
}

/* 17px */
p.lg-para {
    font-size: 1.0625rem;
}

/* 18px */
p.md-para {
    font-size: 1.125rem;
}

p.para {
    font-size: 1rem;
}

p.sm-para {
    font-size: 0.85rem;
}

.font-size-para {
    font-size: 1.13rem;
}

.gray-color {
    color: #808080 !important;
}

.blue-color {
    color: #007aff;
}

.gray-bg {
    background: #f1f1f1 !important;
}

.blue-bg {
    background: #007aff;
}

.op-70 {
    opacity: 0.7;
}

.weight-normal {
    font-weight: 400;
}

.font-weight-heavy {
    font-weight: 700;
}

.font-weight-bolder {
    font-weight: 600;
}

.font-size-large-heading {
    font-size: 5.2rem;
}

.is-full-width {
    width: 100%;
}

.lt-spacing {
    letter-spacing: 1px;
}

.gap-the-col {
    gap: 2rem;
}

.custom-hr {
    background: #B8C4D3;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-hover-effect {
    cursor: pointer;
    transition: all 0.34s ease-in-out;
}

.card-hover-effect:hover {
    transform: translate(0, -3px);
    /* transition: all 1s ease-in-out; */
}

.grid {
    display: grid;
    grid-gap: 1.4rem;
    justify-items: center;
}

.grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.grid-2 {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.common-gradient {
    background: radial-gradient(108.46% 108.46% at 98.09% 100%, #C24074 0%, #322C61 100%);
}

.specific-padding {
    padding: 2.25rem;
}

.padding-about-box {
    padding: 3.75rem 2.065rem;
}

.common-box-radius {
    border-radius: 14px;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100% !important;
}

.subtitle.is-7 {
    font-size: 0.85rem;
}

.box-shadow {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.150732);
}

.section-title {
    font-size: 2.25rem;
    color: #000;
    font-weight: 700;
    padding-left: 1rem;
    margin-bottom: 3rem;
}

.section .container h3 {
    font-size: 1.765rem;
}

.btn {
    padding: 0.8rem 2.5rem;
    text-transform: uppercase;
    outline: none;
    border: none;
    /* width: 100%; */
    font-size: 0.875rem;
    letter-spacing: 1.3px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.sq-btn {
    padding: 0.8rem 1.5rem;
    border-radius: 4px;
}

.no-bg {
    background: none;
    border: none;
    outline: none;
}

.round-btn {
    border-radius: 40px;
}


/* * * *  Navbar component styles * * * */

.navbar-item img {
    max-height: unset;
}

.navbar-search-bar {
    background: #ececec;
    border: 0;
    border-radius: 12px;
    width: 320px;
    font-family: Lato;
    padding: 8px 16px;
}

.navbar-search-bar::placeholder {
    color: #868686;
    font-weight: 400;
}

/* home page styles */
.feature-block h6.md {
    color: #2C2E30;
}

.feature-block h6.sm {
    margin-top: 16px;
    font-weight: normal;
    line-height: 1.3;
    color: #7E8085;
}

/* Studio styles  */
.studio-background {
    background: linear-gradient(351.69deg, #000000 11.45%, rgba(50, 44, 97, 0.346425) 87.22%), url('../img/studio-home.png') center center no-repeat;
    background-size: cover;
    /* mix-blend-mode: normal; */
    color: #fff;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 11px;
    padding: 2rem 1rem;
}

.studio-card  {
    /* max-width: 340px; */
    width: 100%;
    height: 300px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 12px;
    padding: 1rem;
}

.studio-card > * {
    color: #fff;
}

.studio-card h4 {
    font-size: 1.4375rem;
}

.studio-card .button.is-rounded {
    padding: 0;
}

.studio-card h6.sm {
    margin-bottom: 18px;
    margin-top: 4px;
}

.room-card p.lg-para {
    margin-bottom: 18px;
    margin-top: 8px;
}

.dj-card {
    height: 338px;
}

.global-button {
    border-radius: 40px;
    width: 150px;
    margin: 0 auto;
    /* padding: 0.7rem 0; */
    margin-bottom: 1rem;
}

.studio-card-small {
    /* width: auto; */
    /* width: 340px; */
    width: 100%;
    height: 130px;
    background: #fff;
    border-radius: 6px;
    padding: 8px;
    display: grid;
    grid-template-columns: 1.3fr 2fr;
    align-items: center;
    justify-items: flex-start;
    column-gap: 16px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.150732);
}

.small-card-right-side-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.small-card-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: red; */
    /* background: radial-gradient(62.86% 62.86% at 100% 0%, rgba(255, 255, 255, 0.596809) 0%, rgba(255, 255, 255, 0.0001) 100%), linear-gradient(180deg, rgba(180, 164, 195, 0.0001) 0%, #000000 100%), #7C5EA0; */
    height: 100%;
    border-radius: 6px;
}

.small-card-img-wrapper img {
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.search-location-input {
    border: 0;
    background: #ececec;
    font-family: Lato;
    font-size: 1.05rem;
}

.ball-noti {
    color: #fff;
    padding: 0.5rem 1rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.search-location-input::placeholder {
    font-weight: 500;
    font-family: Lato;
    color: #929292;
    /* padding: 8px 16px; */
}

.studio-footer-banner {
    background: linear-gradient(358.86deg, rgba(49, 49, 49, 0.0001) -44.78%, #161616 82.24%, #161616 82.24%), url('../../assets/img/studio-footer-banner.png') center center;
    height: 180px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.desktop-only-jc-space-between {
    justify-content: space-between;
}

.book-button {
    background: #7ABAFF;
    color: #fff;
    font-weight: 600;
    padding: 1.8rem 0;
}

.explore-btn-gradient {
    background: radial-gradient(108.46% 108.46% at 98.09% 100%, #C24074 0%, #322C61 100%);
    color: #fff;
    padding: 1.4rem 2rem;
    font-weight: 600;
    border-radius: 50px;
}

.explore-btn-gradient:hover, .explore-btn-gradient:focus {
    color: #fff;
}

details {
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
}

summary {
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-justify-content:space-between;
}

details p {
    color: #000;
}

.visible-wrapper .summary-heading {
    color: #808080;
    font-weight: 600;
    margin-bottom: 0.5rem;
}


summary::-webkit-details-marker {
    display: none
}

summary::after {
    content: "+";
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    margin: -5px 10px 0 0;
    text-align: center;
    width: 20px;
    
}

details[open] summary::after {
    content: "-";
}

.coll-hidden-content {
    /* display: none; */
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

/* Time select dropdown */
#time-selection-from, #time-selection-to {
    font-size: 1rem;
    padding: 0.2rem 0.4rem;
    border: 2px solid #ccc;
    border-radius: 8px;
}

/* engineer view */

.session-gradient-card {
    width: 100%;
    /* height: 180px; */
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr 2fr 1fr;
    align-content: center;
    padding: 1.3rem;
    align-items: center;
    position: relative;

    background: url('../img/session-gradient-back.svg') no-repeat center center;
    background-size: contain !important;
}

.session-back-light {
    background: url('../img/session-back-light.svg') no-repeat center center;
}

.session-gradient-card img {
    height: 100%;
    width: 100%;
}

.calender-positioning {
    position: absolute; 
    bottom: -0.2rem; 
    right: -1rem;
}




.circle {
    height: 30px;
    width: 30px;
    background: #f9f9f9;
    border-radius: 100%;
    margin: 4px 0;
}

.circles {
    position: absolute;
    right: -16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.flex-group-center {
    display: flex; 
    justify-content: center; 
    /* gap: 1rem; */
}

.flex-group-center button {
    margin: 0 .5rem;
}



.notification-batch {
    color: #fff;
    font-size: 1.2rem;
    /* background: red; */
    padding: 2px 8px;
    border-radius: 5px;
}

.urgent-req-card {
    /* background-image: radial-gradient(98% -8%, #C24074 0%, #322C61 100%); */
    border-radius: 12px;
    /* width: 330px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;

    background-image: radial-gradient(circle at 98% 100%, #c24074, #322c61 96%);
}

.urgent-req-user-img-wrapper {
    width: 100%;
    height: 296px;
    background: linear-gradient(to bottom, rgba(180, 164, 195, 0), #000000), url('../img/lita-brown.png') center center no-repeat;
    background-size: center;
    border-radius: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 1rem;
}

.normal-request-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    position: relative;
    height: 350px;
}

.normal-req-person-name {
    font-weight: 700;
    color: #000;
    font-size: 1.2rem;
}

.req-icon {
    position: absolute;
    top: 16px;
    right: 16px;
}

.req-subtitle {
    font-size: 1rem; 
    font-weight: 400;
}

.title-under-card {
    font-size: 1.2rem;
    color: #808080;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 800;
    /* line-height: 1; */
}

.subtitle-under-card {
    font-size: 1.35rem;
    /* margin-bottom: 1.4rem; */
    font-weight: 700;
    color: #000;
}

.artist-profile-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}

.three-fourth-circ {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 1.2rem;
    border-top: 2px solid #533166;
    border-right: 2px solid #81376B;
    border-bottom: 2px solid #A43C70;
    border-left: 2px solid transparent;

    transform: rotate(40deg);

}

.artist-profile-picture {
    /* width: 100%; */
    transform: rotate(-40deg);
}

/* Sign in sign up - Modal styles */
.modal-card-head, .modal-card-foot, .modal-card-body {
    border: none; 
    background: #F9F9F9;
}

.wave-top {
    position: absolute; 
    top: -20px; 
    left: 0; 
    width: 533px; 
    height: 200px;
    z-index: 0;
}

.round-svg-left {
    position: absolute;
    left: 0;
    top: 130px;
}

.sign-up-svg-right {
    position: absolute;
    right: 0;
    top: 80px;
    display: none;
}

.sign-up-svg-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}

.actual-modal-content {
    z-index: 1;
    position: relative;
    max-width: 420px;
    margin: 0 auto;
}

.modal-sign-in-sign-up, .filter-modal-body, .session-modal-body {
    border-radius: 18px;
    height: 100%;
}

.login-field-input {
    font-size: 19px;
    padding: 1rem;
    background: #F0F0F0;
    width: 100%;
    display: block;
    border-radius: 6px;
    border: none;
}

.forgot-pass-link {
    display: block;
    padding: 0 1rem;
    color: #4C8DD0;
}

.sign-up-btn-block {
    padding: 1rem;
    border-radius: 7px;
}

.sign-up-flow-artist,
.sign-up-flow-studio,
.sign-up-flow-engineer {
    display: none;
}

.data-card-alignment {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.data-card {
    background: #fff;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.150732);
    width: 100%;
    display: block;
}

.data-card-long {
    padding: 2rem;
    min-height: 450px;
}

.data-card h6.md {
    color: #808080;
    text-transform: uppercase;
}

.date-and-time-input {
    width: 66px; height: 60px; position: absolute; opacity: 0;
}

.date-and-time-showing-box-wrapper {
    text-align: center; 
    display: inline-block; 
    background: #f2f2f2; 
    border-radius: 6px; 
    width: 67px;
}

.actual-month-and-time {
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
    padding: 0.2rem 0; 
    color: #fff; 
    font-weight: 600; 
    text-transform: uppercase;
}







/* * * Footer styles * * */
.footer-max-width {
    max-width: 1000px;
    margin: 0 auto;
}

.footer-inner-section-padding {
    padding: 2rem 1rem;
}

/* Top section */ 

/* Engineers and studio heading */
.top-footer-inner p {
    color: rgba(0,0,0,0.6);
}

.links-under-top-section {
    /* border-right: 1px solid #ccc; */
    /* padding: 0 1rem; */
    display: flex;
    flex-wrap: wrap;
}

.links-under-top-section a::after {
    content: '|';
    color: rgb(167, 163, 163);
    margin: 0 6px;
}

/* mid section */
.footer-grid {
    display: grid;
    grid-template-columns: 1fr 3.3fr;
    /* align-items: center; */
    grid-gap: 2rem 4rem;
    color: #fff;
}

.socials-grid {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

.socials-grid a {
    /* background: #fff; */
    /* border-radius: 100%; */
    /* display: flex; */
    /* now align items are defult at the start*/
    /* align-items: center; */ 
    /* justify-content: center; */
    /* size reduced by 25% | old - 3rem */
    width: 2.625rem; 
    height: 2.625em;
    /* spacing increased by 30% | old - 1rem */
    margin-right: 1.3rem; 
    margin-top: 1rem;
}

.socials-grid a img {
    width: 50%;
    height: 50%;
}

a {
    color: #B8C4D3;
}

footer p, footer address {
    color: #B8C4D3;
    font-weight: 300;
}

address {
    font-size: 1rem;
    margin: 1rem 0;
    font-style: normal;
    line-height: 1.2;
}


/* mid section */

.links-grid {
    display: grid;
    grid-template-columns: 1.3fr 3fr;
    grid-gap: 0 1rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem 0;
}

.links-wrapper a {
    font-size: 1rem;
    color: #fff;
    margin: 0.3rem 0;
}

.links-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    grid-gap: 1.9rem;
}

.links-wrapper div {
    display: grid;
    grid-gap: 0 1rem;
}

.modal-content {
    -webkit-animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* Pop in animation */
.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
}


.filter-modal-body {
    background: #e6e6e6;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.session-modal-body {
    background: #fff;
    /* padding: 2rem; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 0;
    padding-top: 0;
}

.session-modal-body .left-side-card * {
    color: #fff;
}
.session-modal-body .left-side-card {
    border-bottom-right-radius: 90px;
    padding: 4rem 4.5rem;
}

.session-modal-body .right-side-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem 1rem 6rem 5rem;
    width: fit-content;
}

.session-modal-body .right-side-section.right-side-yes-or-no {
    /* width: auto; */
    /* padding: 0; */
    justify-content: center;
}
.yes-no-btn-group {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.yes-no-btn-group button {
    width: 100%;
    margin: 0 0.5rem;
}

.dropdown-style {
    width: 100px;
    padding: 0.5rem;
    border: 1px rgba(0,123,255,0.5) solid;
    border-radius: 8px;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.20);
}

.confirm-small-modal-content {
    width: 350px;
    border-radius: 6px;
}

.cofirm-small-modal-body {
    padding: 3rem 2.5rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    text-align: center;
}


.actual-filter-modal-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

input[type='range'] {
    -webkit-appearance: none;
    height: 6px;
    border-radius: 6px;
    padding-left: 1rem;
    background: #7e7e7e;
    outline: none;
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: url('../img/slider-thumb.svg') no-repeat center center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    /* margin-top: -14px; */
}

.filter-input-field {
    font-size: 20px;
    border: none;
    /* margin-top: 1rem; */
    padding: 0.8rem 1.4rem;
    border-radius: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    color: #007AFF;
    width: 100%;
}

.field-selection, .range-selection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.radios, .checkboxes {
    display: flex;
    background-color: #d8d8d8;
    border-radius: 6px;
    padding: 0.2rem;
}

.checkboxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.radio-helper, .checkbox-helper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    cursor: pointer;
}

.radios input[type=radio], .checkboxes input[type=checkbox] {
    display: none;
}

.radios input[type=radio]:checked + .radio-helper,
.checkboxes input[type=checkbox]:checked + .checkbox-helper {
    background-color: #363636;
    color: #fff;
    border-radius: 6px;

}

.editable-input-field {
    display: block;
    width: 100%;
    font-size: 1.05rem;
    font-weight: 600;
    /* outline: none; */
    border: 0;
}

.card-editable h6::after {
    content: url('../img/edit-pencil-icon.svg');
    cursor: pointer;
}

.card-editable h6 {
    display: flex;
    justify-content: space-between;
}

.my-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.my-gallery figure img {
    margin: 0.5rem 1rem;
}

/* Media queries for desktop, tab/ipad, and mobile */
@media screen and (min-width: 1024px) {
    .login-btn {
        border: none;
    }

    .navbar-brand a.navbar-item img {
        width: 100px;
    }

    .navigation-menu {
        background: #fff;
        /* box-shadow: 1px 2px 8px rgba(0,0,0,0.2); */
        -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    }

    .navbar-start {
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .modal-card, .modal-content {
        /* min-height: 600px; */
    }

    .filter-modal-content, .session-modal-content {
        width: 900px;
        max-width: 100%;
    }
}

@media screen and (max-width: 900px) {
    html, body {
        font-size: 13px;
    }

    .links-grid {
      grid-template-columns: 1fr;
    }

    .app-download-sec {
      margin-bottom: 2.3rem;
      text-align: center;
    }

    .links-wrapper {
      grid-gap: 0.6rem;
    }
}

@media screen and (max-width: 1094px) {
    .grid-4, .grid-3 {
        grid-template-columns: 1fr 1fr;
    }

    .grid-3 {
        grid-gap: 1rem;
    }
}

@media(max-width: 800px) {
    .session-gradient-card {
        height: auto;
        text-align: center;
        grid-template-columns: 1fr;
        justify-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        width: 280px;
    }

    .ticket-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1rem;
    }

    .session-gradient-card img {
        height: auto;
        width: auto;
    }

    .session-gradient-card  {
        background: url('../img/session-grad-back-mobile.svg') no-repeat center center;
    }

    .session-back-light {
        background: url('../img/session-back-light-mobile.svg') no-repeat center center;
    }       

    .img-and-month-wrapper {
        /* height: 100%; */
        position: relative;
        width: 114px;
        margin: 4px auto 25px auto;
    }

    /* .status-icon {
        margin: 1rem 0;
    } */

    .separator-img {
        margin: 1rem 0;
        width: auto;
    }

    .date-and-time-showing-box-wrapper {
        width: auto;
    }

    .data-card-long {
        min-height: fit-content !important;
    }

    .login-flow .has-text-right,
    .sign-up-flow-artist .has-text-right,
    .sign-up-flow-studio .has-text-right,
    .sign-up-flow-engineer .has-text-right {
        text-align: center !important;
        margin-top: 2rem;
    }

}

@media screen and (max-width: 768px) {
    .modal-card, .modal-content {
        max-height: 100% !important;
        height: 100%;
    }

    .footer-grid {
        display: block;
        text-align: center;
    }

    address {
        margin: 2rem auto;
    }

    .socials-grid {
        margin: 0 auto;
        margin-top: 3rem;
        justify-content: center;
    }

    .desktop-only-jc-space-between {
        text-align: center;
        flex-direction: column;
        justify-content: space-around;
    }

    .r-selection-group2 {
        margin: 2.5rem 0;
    }

    .session-modal-body {
        grid-template-columns: 1fr;
        padding: 0;
    }

    .session-modal-body .left-side-card {
        padding-left: 3rem;
        padding-top: 2rem;
    }

    .session-modal-body .right-side-section {
        padding: 0 1rem 1.2rem 2.5rem;
    }
    /* .right-side-section.right-side-yes-or-no { */
}

@media screen and (max-width: 533px) {
    .grid-4, .grid-3, .grid-2 {
        grid-template-columns: 1fr;
    }

    .grid-2-mob {
        grid-template-columns: 1fr 1fr;
    }

    h1.x-lg-heading {
        font-size: 3rem;
    }
}

@media screen and (max-width: 472px) {
    .grid-2-mob {
        grid-template-columns: 1fr;
    }
}


